#canvas-box {
  width:100%;
  height:600px;
  background-color: #ff0;
}

#canvas {
  width:100%;
  background-color: #eee;

}

text {
  font-size:6px;
  stroke: none;
}
g.link {
  text {
    fill:pink;
  }

  line {
  stroke: pink;
  }
}

g.node {
  text {
    fill:blue;
    font-size: 20pt
  }

  &.fixed {
    text {
      fill:red;
    }
  }
}
