.absFiller {
  position:absolute;
  top:0;
  bottom:0;
  left:0;right:0;

}

#wrapper {
  .absFiller;
}

#controls {
  position:absolute;
  bottom:5px;
  left:5px;
}

@media print {
  #controls {
    display: none;
  }
}

#canvas-box {
  .absFiller;
}

#canvas {
  width: 100%;
}

text {
  font-size: 4px;
  stroke: none;
}

g.link {
  text {
    fill: brown;
  }

  line {
    stroke: pink;
    stroke-width: .3;
  }

  &:hover {
    line {
      stroke: maroon;
    }

    text {
      fill: red;
    }
  }
}

g.node {
  text {
    fill: blue;
    font-size: 4pt;
    text-shadow: 1px 1px 4px white;
  }

  &.fixed {
    text {
      fill: red;
    }
  }

  &.dragged {
    circle {
      stroke-width: 10;
      stroke: red;
    }
  }
}
